.idea
.vscode
venv
project.egg-info
bandits/__pycache__/
strategies/__pycache__/
main/test.png
main/data.csv
server/ssh -i math50008.pem ubuntu@ec2-18-133-175-161.eu-west-2.compute.amazonaws.com.txt
.Rproj.user
main/__pycache/
server/math50008.pem
